:root{

  --ff-standard: 'Urbanist', sans-serif;

  --gray: #b4b8ab;
  --navyBlue: #284b63;
  --darkBlue: #153243;
  --paleGray: #f4f9e9;
  --lightGray: #eef0eb;
}

body {
  font-family: var(--ff-standard);
  text-align: center;
  background-color: var(--darkBlue);
  color: var(--lightGray);


}
.winston-salem {
  display: block;
  margin: 0;
  background-image: url("../img/Winston-Salem-NC.jpg");
  background-size: cover;
  border: 4px solid black;

}





.attractions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto 0 auto;
  height: 200px;
  background: var(--navyBlue);


}


.guide-card {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 4px 8px;
  background: var(--gray);

  
}

.minuit-img {
  width: 200px;
  border-radius: 8px;
  
}


.guide-info {
  padding: auto;
  width: 300px;

}

.bio {
  font-style: italic;
  font-weight: bold;
  color: var(--navyBlue);
}


@media (min-width: 600px){

}

@media (max-width: 1440px){

}
